@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold'), url('../fonts/Gilroy/Gilroy-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Gilroy-Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy'), url('../fonts/Gilroy/Gilroy-Heavy.otf') format('opentype');
}
@font-face {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light'), url('../fonts/Gilroy/Gilroy-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium'), url('../fonts/Gilroy/Gilroy-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular'), url('../fonts/Gilroy/Gilroy-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima-Regular'), url('../fonts/ProximaNova/FontsFree-Net-proxima_nova_reg-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Proxima-Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima-Semibold'), url('../fonts/ProximaNova/FontsFree-Net-Proxima-Nova-Sbold.otf') format('opentype');
}
@font-face {
    font-family: 'Proxima-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima-Bold'), url('../fonts/ProximaNova/FontsFree-Net-proxima_nova_bold-webfont.ttf') format('truetype');
}

html, body {
    height: 100%;
}

/* body {
    font-family: 'Proxima-Regular', sans-serif!important;
    font-weight: 400;
    font-size: 14px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    color: #707070;
} */